// Colours
$bodyColour: #5a5a5a !default;
$headingColour: darken($bodyColour, 5%);
$linkColour: #7E4EA3 !default;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff !default;

$backgroundColour: #F1F3F4 !default;
$codeBackgroundColour: darken($backgroundColour, 5%);
