@import 'tailwindcss';

@plugin '@tailwindcss/typography' {
  classname: 'markdown';
}

@utility container {
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 100%) {
    max-width: 100%;
  }
  @media (width >= 100%) {
    max-width: 100%;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
}

@theme {
  --color-primary: #7e4ea3;
}

@layer base {
  html {
    font-size: 18px
  }
  a {
    @apply text-primary;
  }
  audio {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
}
