@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px
  }
  a {
    @apply text-primary;
  }
  audio {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
}
