<style>{% apply minify_css %}
  #subscribe img {
    display: inline;
    height: 2.8rem;
  }
{% endapply %}</style>
<div id="subscribe">
{% for subscribe in site.podcast.subscribe %}
{% if subscribe.enabled %}
  <a href="{{ subscribe.url }}"><img src="{{ asset('badge/'~ subscribe.name|lower ~'.svg')|url }}" alt="Listen on {{ subscribe.name|capitalize }}"/></a>
{% endif %}
{% endfor %}
</div>
