{% set pages = site.pages.showable %}
{% if page.pages is defined %}
  {%- set pages = page.pages -%}
{% endif %}
{% if page.pagination.pages is defined %}
  {%- set pages = page.pagination.pages -%}
{% endif %}

{% extends '_default/page.html.twig' %}

{% block content ~%}
<div class="text-lg">Last episode</div>
{% include 'partials/episode.html.twig' with {p: pages|filter_by('section','episodes').first} %}
{% endblock content %}